@CHARSET "ISO-8859-1";
table,th,td{
	border: 1px solid black;
	border-collapse: collapse;
    width: 70%;
    padding:4px;
}

.header {
	background-color: blue;
	color: white;
	width: 97.5%;
	padding: 20px;
}

.additemdiv {
    position: absolute;
    right: 15px;
    border: 1.8px solid blue;
    padding: 2px;
}

.logout {
	position: absolute;
	color:white;
	top: 15px;
	right: 15px;
}

.admin{
	position:absolute;
	right:15px;
	top:50px;	
}

.items {
	text-align:center;
    padding:10px;
	position: absolute;
	width:70%;
    top: 70px;
    left:200px;
}

