@CHARSET "ISO-8859-1";

.right {
	position: absolute;
	right: 1px;
	padding: 2px;
}

.header {
	background-color: blue;
	color: white;
	width: 98.1%;
	position: relative;
	height: 6px;
	left: -8px;
	padding: 20px;
}

div.errorMsg {
	text-align: center;
	padding: 10px;
	position: fixed;
	top: 45px;
	left: 500px;
	width: 310px;
	height: 50px;
	padding: 14px 18px;
}

div.login {
	text-align: center;
	position: relative;
	top: 40px;
	left: 500px;
	width: 240px;
	height: 350px;
	border: 1px solid lightgrey;
	border-radius: 8px;
	padding: 15px 60px;
}

div.createaccount {
	text-align: center;
	position: relative;
	top: 56px;
	left: 500px;
	width: 240px;
	height: 350px;
	border: 1px solid lightgrey;
	border-radius: 8px;
	padding: 15px 60px;
}

div.main_div {
	text-align: center;
	position: relative;
	top: 56px;
	left: 500px;
	width: 240px;
	height: 350px;
}

.logout {
	position: absolute;
	color: white;
	top: 15px;
	right: 15px;
}

.home {
	position: absolute;
	right: 15px;
	top: 50px;
}

.color {
	color: blue;
}

.error {
	font-size: small;
	color: red;
}

p.error {
	color: red;
	font-size: medium;
}

.valid {
	font-size: small;
	color: blue;
}

.bgimg {
	background-image: url('../images/background1.jpg');
	width: 1272.39px;
	height: 690px;
	margin: 0 auto;
	position: relative;
}

.button {
	width: 228px;
	padding: 8px 12px;
	text-align: center;
	text-decoration: blink;
	border-radius: 5px;
	color: black;
	font-weight: bold;
	font-size: 12px;
}